{% extends 'base.html' %}
{% load humanize %}

{% block title %} | Enrollment Search Results {% endblock %}

{% block pagecss %} 

    <style>
            .pager {
                text-align: left; 
            }
            
            .pager span {
                display: inline-block;
                width: 1.8em;
                height: 1.8em;
                line-height: 1.8;
                text-align: center;
                cursor: pointer;
                background: #7A1705;
                color: #ccc;
                margin-right: 0.5em;
            }
            
            .pager span.active {
                background: #fff;
                color:#191919;
                font-weight:bold;
                text-align:center;
            }
    </style>

{% endblock %}


{% block content%}

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'index' %}">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'enrollmentsearch' %}">Enrollment Search</a>
                </li>
                <li class="breadcrumb-item active">Search Results</li>
            </ol>
        </nav>
    </div>
</section>

<section id="enrollmentSearch" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="container">
                    <div class="card-header bg-Crimson text-white">
                        <h4>Search </h4>
                    </div>
                    <!--<form action="{% url 'enrollmentsearch' %}">
                        
                    </form>-->
                    {% csrf_token %}
                      <div class="form-row">
                          <div class="col-md-4 mb-3">
                              <label for="term">Term</label>
                              <select id="term" name="term" class="form-control">
                                  <option selected="true" disabled="disabled">Select</option>
                                  {% for termm in terms %}
                                    <option value="{{ termm }}"
                                        {% if termm == values.term %}
                                            selected
                                        {% endif %}
                                        >{{ termm }}
                                    </option>
                                  {% endfor %}
                              </select>
                          </div>

                          <div class="col-md-4 mb-3">
                              <label for="course">Course</label>
                              <select id="course" name="course" class="form-control">
                                  <option selected="true" disabled="disabled">Select</option>
                                  {% for coursee in courses %}
                                    <option value="{{ coursee }}"
                                    {% if coursee == values.course %}
                                        selected
                                    {% endif %}
                                    >{{ coursee }}</option>
                                  {% endfor %}
                              </select>
                          </div>

                          <div class="col-md-4 mb-3">
                                <label for="funding">Funding</label>
                                <select id="funding" name="funding" class="form-control" id="type">
                                    <option selected="true" disabled="disabled">Select</option>
                                    {% for fundingg in fundings %}
                                    <option value="{{ fundingg }}"
                                    {% if fundingg == values.funding %}
                                        selected
                                    {% endif %}
                                    >{{ fundingg }}</option>
                                    {% endfor %}
                                </select>
                           </div>

                           <div class="col-md-10 mb-3 text-center">
                              <input type="submit" id="btnSearch"  value="Search" class="btn bg-Crimson text-white text-center ">
                           </div>
                         
                           <div class="col-md-2 mb-2 text-right">
                                <input id="btnExport" value="Export" style="width:50%" class="btn bg-Crimson text-white text-center">
                           </div>

                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Listings -->
<section id="dashboard" class="py-4">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="card-header bg-Crimson text-white">  
                <h3>Enrollment Details</h3>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Term</th>
                    <th scope="col">Course</th>
                    <th scope="col">Funding</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Username</th>
                  </tr>
                </thead>
                <tbody id="tbody">
                
                </tbody>
              </table>
          </div>
        </div>

        <!--{% if enrollments.has_other_pages %}
            <div class="row">
                <div class="col-md-12">
                    <ul class="pagination">
                        {% if enrollments.has_previous %}
                            <a class="prev btn bg-Crimson" href="?page={{enrollments.previous_page_number}}">Prev</a>
                        {% endif %}
                        
                        {% for pg in page_range %}
                            {% if enrollments.number == pg %}
                                <li><a href="?page={{pg}}" class="btn bretrieve one tn-default">{{pg}}</a></li>
                            {% else %}
                                <li><a href="?page={{pg}}" class="btn">{{pg}}</a></li>
                            {% endif %}
                        {% endfor %}
                        
                        {% if enrollments.has_next %}
                            <a class="next btn bg-Crimson" href="?page={{enrollments.next_page_number}}">Next</a>
                        {% endif %}
                    </ul>     
                </div>
            </div>
        {% endif %}-->

    </div>
</section>

{% endblock %}



{% block javascript %}

  <script>

    $(document).ready(function(){

            
            // $("#tbody").pagination({
            //    items: 5,
            //    contents: 'contents',
            //    previous: 'Previous',
            //    next: 'Next',
            //    position: 'bottom',
            // });


            $("#btnSearch").click(function(event) {
                //alert($('#coursenumber').val());
                
                var term = $('#term:selected').val();
                var course = $('#course:selected').val();
                var funding = $('#funding:selected').val();
                
                $.ajax({
                    url:"/enrollments/enrollmentsearch/",
                    dataType: 'json',
                    data: {
                        'term': term,
                        'course': course,
                        'funding': funding
                    },
                    success: function(data) {
                        var tr=[];
                        enollments = data.enrollments;
                        for (var i = 0; i < enollments.length; i++) {
                            tr.push('<tr>');
                            tr.push("<td>" + enollments[i][0] + "</td>");
                            tr.push("<td>" + enollments[i][1] + "</td>");
                            tr.push("<td>" + 'None' + "</td>");
                            tr.push("<td>" + enollments[i][2] + "</td>");
                            tr.push("<td>" + enollments[i][3] + "</td>");
                            tr.push('</tr>');
                        }
                        $('tbody').append($(tr.join('')));
                        paging();
                    },
                    error: function(data) {
                        console.log(data); 
                    }
                });
                return false;
            });

        
            function paging() {

                $('.table').each(function () {
                
                    var currentPage = 0;
                    var numPerPage = 4;
                    var $table = $(this);

                    $table.bind('repaginate', function () {
                        $table.find('tbody tr').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
                    });

                    $table.trigger('repaginate');

                    var numRows = $table.find('tbody tr').length;
                    var numPages = Math.ceil(numRows / numPerPage);
                    var $pager = $('<div class="pager"></div>')
                    
                    for (var page = 0; page < numPages; page++) {

                        $('<span class="page-number"></span>').text(page + 1).bind('click', {
                            newPage: page
                        }, function (event) {
                            currentPage = event.data['newPage'];
                            $table.trigger('repaginate');
                            $(this).addClass('active').siblings().removeClass('active');
                        }).appendTo($pager).addClass('clickable');
                    }
                    
                    if (numRows > numPerPage) {
                        $pager.insertAfter($table).find('span.page-number:first').addClass('active');
                    }
                });
            }

            $("#btnExport").click(function () {
            
                var termID  = $('#term option:selected').text();
                var courses  = $('#course option:selected').text();
                var funding  = $('#funding option:selected').text();
    
                $.ajax({
                    url: '/enrollments/exportcsv',
                    type : 'POST',
                    data: {
                        termID : termID,
                        course : courses,
                        funding : funding,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    dataType: 'json',
                    success: function (data) {
                    },
                    error:function(xhr,errmsg,err) {
                        const csvData = (xhr.responseText);
                        const blob = new Blob ([csvData], {type: 'text/csv'});
                        const url = window.URL.createObjectURL(blob);
                        const a = document.createElement('a');
                        a.setAttribute('hidden', '');
                        a.setAttribute('href', url);
                        a.setAttribute('download', 'enrollment.csv');
                        document.body.appendChild(a);
                        a.click();
                        document.body.removeChild(a);
                        alert("File Downloaded Successfully");
                    }
                });
            });
    });
  </script>
  
{% endblock %}